@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h5>@ViewData["Developer"]</h5>
<h5>@ViewData["Autor"]</h5>

<address>
    <p>More information Go to <a href="g13.me">g13.me</a></p>
</address>
